* {
    margin:0;
    padding:0;
}

@font-face {
    font-family: 'Futura-Pt-book';
    src: url(/fonts/FuturaCyrillicBook.ttf) format('truetype');
}

@font-face {
    font-family: 'Futura-Pt-heavy';
    src: url(/fonts/FuturaCyrillicHeavy.ttf) format('truetype');
}

@font-face {
    font-family: 'Photograph-Signature';
    src: url(/fonts/Photograph\ Signature.woff) format('woff');
}

nav{
    background-color: black;
}

h1 {
    text-align: center;
    align-items: center;
    font-family: 'Photograph-Signature';
    font-size: 64px;
    color:black;
    font-weight: 400;
}

.parent {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    height:100px;
    color:white;
    text-align: center;
    align-items: center;
}
        
    .div1 { 
        grid-area: 1 / 1 / 2 / 2; 
        font-family: 'Photograph-Signature';
        font-size: 40px;
    }

    .div2 { 
        grid-area: 1 / 2 / 2 / 4; 
    }

    .div3 { 
        grid-area: 1 / 4 / 2 / 5; 
        font-family: 'Futura-Pt-book';
        font-size: 24px;
    }

    .div4 { 
        grid-area: 1 / 5 / 2 / 6; 
        font-family: 'Futura-Pt-book';
        font-size: 24px;
    }

    .div5 { 
        grid-area: 1 / 6 / 2 / 7; 
        font-family: 'Futura-Pt-book';
        font-size: 24px;
    }

    .div6 { 
        grid-area: 2 / 1 / 7 / 7; 
        background-color: black;
    }

    .div6cgv {
        background-color: white;
        margin:150px;
        font-family: 'Futura-Pt-book';
        font-size: 20px;
    }

    #titre-paragraphe {
        font-weight: 900;
    }

    #titre-paragraphe-v1 {
        margin:10%;
        font-family: 'Photograph-Signature';
        font-size: 60px;
        color: white;
    }

    #texte-paragraphe {
        font-weight: 400;
    }

    #texte-paragraphe-v1 {
        margin:10%;
        font-family: 'Futura-Pt-book';
        font-size: 20px;
        color: white;
        font-weight: 400;
    }

    .div7 {
        display: grid;
        height: 100vh;
        background-color: black;
        color:white;
        text-align: center;
        align-items: center;
        font-family: 'Photograph-Signature';
        font-size: 96px;
    }

    .div7bis {
        display: grid;
        height: 200px;
        background-color: black;
        color:white;
        text-align: center;
        align-items: center;
        font-family: 'Photograph-Signature';
        font-size: 64px;
        justify-items: center;
        padding-top: 225px;
        padding-bottom: 225px;
    }

    .div7bis img {
        filter: invert(100%);
        margin-top:0;
    }

    .container {
        width: 100%;
    }

    .div8 {
        display: flex;
        justify-content: space-between;
        height: 600px;
        margin:100px;
        background: white;
    }

    .swiper {
        width: 100%;
        height: 100%;
        background: white;
        margin:100px;
        align-items: center;
      }
  
      .swiper-slide {
        display: block;
      }
  
      .swiper-slide img {
        height: 600px;
        padding-left: 5%;
        padding-right: 0;
      }

.parent2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width:100%;
    background-color: black;
    text-align: center;
    align-items: center;
}
    
    .div9 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .div10 { 
        grid-area: 1 / 2 / 2 / 3; 
    }

h1 {
    color: white;
    text-align: center;
}

#titre-page {
    color: black;
    text-align: center;
    margin: 100px;
}

.parent3 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    height: 100px;
    color:white;
    text-align: center;
    align-items: end;
    padding-bottom: 20px;
}
        
    .div11 { 
        grid-area: 1 / 1 / 2 / 2; 
        text-align: left;
        margin-left: 20px;
        font-family: 'Photograph-Signature';
        font-size: 20px;
    }

    .div12 { 
        grid-area: 1 / 2 / 2 / 4; 
    }

    .div13 { 
        grid-area: 1 / 4 / 2 / 5; 
        font-family: 'Futura-Pt-book';
        font-size: 12px;
    }

    .div14 { 
        grid-area: 1 / 5 / 2 / 6; 
        font-family: 'Futura-Pt-book';
        font-size: 12px;
    }

    .div15 { 
        grid-area: 1 / 6 / 2 / 7; 
        font-family: 'Futura-Pt-book';
        font-size: 12px;
    }

.parent4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: black;
    height:100px;
    color:white;
    text-align: center;
    align-items: center;
    height: 100%;
}
        
    .div16 { 
        grid-area: 1 / 1 / 2 / 2; 
    }

    .div17 { 
        grid-area: 1 / 2 / 2 / 3; 
    }    
        
#titre-page-2 {
    background-color: black;
    color: white;
    text-align: center;
    padding: 100px;
}

h2 {
    font-family: 'Photograph-Signature';
    font-size: 48px;
    background-color: black;
    color: white;
    text-align: center;
}
        
a {
    color: white;
    text-decoration: none;
}

#a-cgv {
    text-decoration: underline;
}

/*#a-contact {
    background-color: white;
    color:black;
    border-radius: 15px;
    padding: 0 5%;
}*/

#a-contact {
    text-decoration: underline;
}

/*#a-galerie {
    background-color: white;
    color:black;
    border-radius: 15px;
    padding: 0 5%;
}*/

#a-galerie {
    text-decoration: underline;
}

#a-mentions {
    text-decoration: underline;
}

#a-politique {
    text-decoration: underline;
}

/*#a-tarifs {
    background-color: white;
    color:black;
    border-radius: 15px;
    padding: 0 5%;
}*/

#a-tarifs {
    text-decoration: underline;
}

/*a:hover {
    background-color: white;
    color:black;
    border-radius: 15px;
    padding: 0 5%;
}*/

a:hover {
    background-color: black;
    color: white;
    text-decoration: underline;
}

.div1 a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.div7bis a:hover {
    background-color: black;
}

#logo-insta {
    margin-top: 0px;
    align-items: center;
    justify-items: center;
}

.div18 {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: black;
}

form {
    width:100%;
    align-items: center;
}

label {
    margin-bottom: 20px;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-family: 'Photograph-Signature';
    font-size: 48px;
    background-color: black;
    color: white;
}
  
  input[type="text"] {
    width: 50%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

  input[type="submit"] {
    justify-items: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Futura-Pt-book';
    font-size: 18px;
    font-weight: 700;
}